<%-include('./includes/head') %>
<%-include('./includes/nav') %>

<div class="container">
       <div class="row justify-content-center">
              <div class="col-log-8 my-3">
                     <h3 class="text-center">Olá, <%= user.email%></h3>
                     <p class="text-center lead">Seja bem vindo(a)! Você precisa sair para criar uma nova conta.</p>
                     <%- include('./includes/messages') %>
              </div>
       </div>
</div>

<%-include('./includes/footer') %>
